<div class="footer">
    <div class="row footer">
        <div class="social-media title col-md-5 col-sm-12">
            <h3 class="title-footer"><i class="fas fa-pen-fancy"></i>Plan your <b>success</b></h3>
        </div>
        <div class="social-media col-md-7 col-sm-12">
            <ul>
                <li>
                    <a class="icon-transition" href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                </li>
                <li>
                    <a class="icon-transition" href="#">
                        <span class="fab fa-instagram"></span>
                    </a>
                </li>
                <li>
                    <a class="icon-transition" href="#">
                        <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <li>
                    <a class="icon-transition" href="#">
                        <span class="fab fa-youtube"></span>
                    </a>
                </li>
                <li>
                    <a class="icon-transition" href="#">
                        <span class="fab fa-pinterest-p"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>