<div class="content">
    <h2 class="title-content">Zaplanuj sukces</h2>
    <div class="row content">
        <div class="col-12 col-md-3 steps">
            <i class="far fa-star"></i>
            <h4 class="step-title">Załóż konto</h4>
            <span class="content-text">Stwórz swoje konto w serwisie, zaloguj się i zacznij działać.</span>
        </div>
        <div class="col-12 col-md-3 steps">
            <i class="far fa-sticky-note"></i>
             <h4 class="step-title">Twórz zadania</h4>
             <span class="content-text">Zaplanuj zadania we własnej liście zadań i nadań im termin wykonania.</span>
        </div>
        <div class="col-12 col-md-3 steps">
            <i class="far fa-calendar-check"></i>
             <h4 class="step-title">Realizuj cele</h4>
             <span class="content-text">Odhaczaj wykonane zadania i zbliż się do upragnionego celu.</span>
        </div>
        <div class="col-12 col-md-3 steps">
            <i class="far fa-grin-stars"></i>
             <h4 class="step-title">Osiągaj więcej</h4>
             <span class="content-text">Planowanie swoich działań pomaga osiągnąć sukces, za pomocą aplikacji staje się to łatwiejsze.</span>
        </div>
    </div>
</div>