div.container-fluid.registration{
    background-image: url('src/assets/images/planer_5.jpg');
    min-height: 580px;
    background-size: cover;
    background-position: center;
    padding:0;
}
div.dark-opacity {
   background-color: rgba(128, 128, 128,0.5);
    min-height:580px;
    position: relative;
}
.container.card.mb-3 {
    background: rgba(255, 255, 255, 0.8);
    padding:0;
    top:50px;
    bottom:10px;
    border-color: #ffccff;
    width: 45%;
    margin-bottom:0 !important;
}

.card-header {
    background-color: rgba(255,204,255,0.5);
    letter-spacing: 2px;
}
h4.card-title {
     margin:0;
}

.card-footer {
    background-color: rgba(255,204,255,0.5);
}

button.btn.btn-light {
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.5);
}