<div class="container-fluid registration">
    <div class="dark-opacity">
        <div class="container card mb-3">
            <div class="card-header">
                <h4 class="card-title">Załóż konto</h4>
            </div>
            <div class="card-body">
                <app-user-form #form></app-user-form>
            </div>
            <div class="card-footer">
                <button  type="button" class="btn btn-light" (click)="saveUser()">Utwórz konto</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>