<div class="container-fliud">
    <div class="overlay-bg">
        <div class="container tasklist">
            <div class="row panel1">
                <div class="col-md-2 button">
                    <button type="button" class="add-task" (click)="panelExpanded = !panelExpanded">Dodaj
                        zadanie</button>
                </div>
                <div class="col-md-10">
                    <i class="fas fa-calendar-alt"></i>
                </div>
            </div>
            <div class="row panel add-task" *ngIf="panelExpanded">
                <div class="form-group col-md-5">
                    <label for="taskname" class="control-label">Zadanie</label>
                    <input id="taskname" type="text" class="form-control" [(ngModel)]="task.title">
                </div>
                <div class="form-group col-md-2">
                    <label for="startdate" class="control-label">Data rozpoczęcia</label>
                    <input type="text" class="form-control" bsDatepicker [bsConfig]="dpConfig"
                        [(ngModel)]="task.startDate">
                </div>
                <div class="form-group col-md-2">
                    <label for="finishdate" class="control-label">Data zakończenia</label>
                    <input type="text" class="form-control" bsDatepicker [bsConfig]="dpConfig"
                        [(ngModel)]="task.finishDate">
                </div>
                <div class="form-group col-md-2">
                    <label for="color" class="control-label">Kolor</label>
                    <select id="color" class="form-control" [(ngModel)]="task.properties">
                        <option [ngValue]="null" disabled>Wybierz kolor</option>
                        <option value="blue">Niebieski</option>
                        <option value="violet">Fioletowy</option>
                        <option value="yellow">Żółty</option>
                        <option value="green">Zielony</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="button" class="add-task save" (click)="saveTask()">Dodaj</button>
                </div>
            </div>
            <div class="row panel2">
                <div class="col-md-6 tasklist">
                    <h4 class="title-list">Zadania do wykonania</h4>
                    <div class="row">
                        <div class="col-md-4 tasklistLength"> Liczba zadań do wykonania: <b>{{getTaskToDo().length}}</b></div>
                        <div class="col-md-4 tasklistLength">Liczba zadań na dziś: <b>{{getTodayTask().length}}</b> </div>
                        <div class="col-md-4 tasklistLength">Liczba zaległych zadań: <b>{{getOverdueTask().length}}</b> </div>
                    </div>
                    <div class="task {{task.properties}}" *ngFor="let task of getTaskToDo() |sortByDate">
                        <span><i class="far fa-check-circle pointer" (click)="setTaskDone(task)"></i>
                            <h5 [ngStyle]="{color: getColor(task)}">{{task.title  | changeLetter}}</h5><i class="fas fa-trash pointer" (click)="deleteTask(task)"></i>
                        </span>
                        <span>{{task.finishDate | date:'mediumDate'}}</span> <i class="far fa-edit pointer"></i>
                    </div>
                </div>
                <div class="col-md-6 tasklist">
                    <h4 class="title-list">Wykonane zadania</h4>
                    <div class="tasklistLengthDone">Liczba wykonanych zadań: <b>{{getTaskDone().length}}</b> </div>
                    <div class="taskdone" *ngFor="let item of getTaskDone() |sortByDate">
                       <i class="fas fa-reply pointer" (click)="setTaskToDo(item)"></i> {{item.title  | changeLetter}} <i class="fas fa-times pointer" (click)="deleteTask(item)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>